DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
AUTH_SECRET=generate_with_openssl_rand_base64_32
AUTH_TRUST_HOST=true
NEXTAUTH_URL=http://localhost:3000
BOT_TOKEN=put_your_bot_token_here
